
#fullModalDiv {
    height: 400px;
    width: 600px;
    /* background-color: #3be2ab; */
    color: white;
}
.bigmodaldiv{
    background-color: rgb(96, 172, 216);
    width:100%;
    height:100%;
    /* border: 20px solid rgb(96, 172, 216); */
}
#fullModalDiv.ReactModal__Content.ReactModal__Content--after-open{
    padding:0px;
}
#modalCloseBtn {
    float: right;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(39,102,159);
    color: white;
}
#modalTitle {
    font-size: 25px;
    font-weight: bold;
    padding: 30px;
}
#modalText {
    margin-left: 30px;
}

.modal-button{
    padding: 10px;
    border: none; 
    width: 100%; 
    border-radius: 20px; 
}
.modal-button:hover{
    background: #3be2ab;
    color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 5px #3be2ab,
                0 0 25px #3be2ab,
                0 0 50px #3be2ab,
                0 0 100px #3be2ab;
}
