.banana{
    background-image:url('../images/volunteer.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;

}
#loginDiv {
    font-family: monospace;
}
#appName {
    margin: 0;
    font-size: 50px;
    text-align: center;
}
#loginDiv {
    text-align: center;
}
#hereToRegisterDiv {
    display: flex; 
    flex-direction: column; 

}

.form-wrapper{
    display: flex; 
    padding-right: 40px;
    flex-direction: column; 

}


.heretoregisterdiv{
    display: flex;
    justify-content: flex-start;
}