.banana{
    background-image:url('../images/volunteergreen.png');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
#login-div {
    text-align: center;
}
#app-name {
    margin: 0;
    font-size: 50px;
    text-align: center;
    padding-bottom: 70px;
}

.container-home{
    display:flex; 
    align-content: center; 
}

#here-to-register{
    display: flex; 
    flex-direction: column; 
    padding-left:150px; 
    color: white; 

}
.login-form-labels{
    color: white;
}
.form-wrapper{
    display: flex; 
    flex-direction: column; 
    margin-left: auto;   
    margin-right: 150px;
    margin-top: 20px;
    height: 400px; 
    width: 305px; 
    border-radius: 20px;
    background-color: rgba(77, 188, 231, 0.8);
    padding: 20px 20px; 
    

}
#login-title{
    padding-left: 30px;
    color: white;
    margin-bottom: 0px;
}
#accounttitle{
    margin-bottom: -10px;
}
.form-label-div{
    display: flex; 
    flex-direction: column; 
    padding-left:45px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    justify-content: center;
}

.form-wrapper input[type=email], input[type=password]{
    padding: 10px;
    border: 0;
    border-bottom: 1px solid #eee; 
    border-radius: 20px; 
    transition: .3s border-color; 
    width: 75%;
    
    
}

input[type=email]:hover, input[type=password]:hover{
    border: 1px solid #aaa; 
}

.submit-button-login, .submit-button-register{
    padding: 10px;
    border: none; 
    width: 100%; 
    border-radius: 20px; 
    color: black;
    /* width: 75%; */
}
.submit-button-register{
    color: black;
}
.submit-button-login:hover{
background: #3be2ab;
color: #fff;
border-radius: 20px;
box-shadow: 0 0 5px #3be2ab,
            0 0 25px #3be2ab,
            0 0 50px #3be2ab,
            0 0 100px #3be2ab;
}


.submit-button-register:hover{
background: #3be2ab;
color: #fff;
border-radius: 20px;
box-shadow: 0 0 5px #3be2ab,
            0 0 25px #3be2ab,
            0 0 50px #3be2ab,
            0 0 100px #3be2ab;
}