a:link{
    

}


a:visited:{

}

a:hover:{
    color: #3be2ab;
}

a:active{ 
    color: #3be2ab;
}

.navbardiv{
    background-color: #4dbce7;
    display: flex; 
    justify-content: flex-end; 

}

#nav-logo{
    height: 100px;
    padding: 10px;
}
.list, .listItems{
    margin-top: 0px;
    margin-bottom: 0;
    list-style: none;
    
    margin-left: auto; 
    display: flex;
    padding:20px;


}

#modaldiv{
    padding-right: 15px;

}
.navlink{
    cursor: pointer;
    color: white;
    text-decoration:none; 
    flex-basis:80px;
    align-content: center; 
    padding-right: 10px;
    padding-top: 7px;

}

#navbarText{
    padding-right: 10px; 
}
.logoutbutton{
    padding: 10px;
    border: none; 
    /* width: 100%;  */
    border-radius: 20px; 
    /* width: 75%; */
}
.logoutbutton:hover{
    background: #3be2ab;
    color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 5px #3be2ab,
                0 0 25px #3be2ab,
                0 0 50px #3be2ab,
                0 0 100px #3be2ab;
}