#platformWrapper {
    background-color: lightskyblue;
    height: 100vh;
}
#locationtext{
    border: solid slategray 10px;
}
#locationdiv{
    border: solid red 10px;
}
#location-dropdown{
    border: solid blue 10px;
}
#locationcheckbox{
    border: solid purple 10px;
}