.form-register-div{
    padding-left: 40px;
}

#location{
    padding: 10px;
    border: 0;
    border-bottom: 1px solid #eee; 
    border-radius: 20px; 
    transition: .3s border-color; 
    width: 82%;
}
#userstatus{
    padding: 10px;
    border: 0;
    border-bottom: 1px solid #eee; 
    border-radius: 20px; 
    transition: .3s border-color; 
    width: 82%;
}
.register-container input[type=email], input[type=password], input[name=form_firstname], input[name=form_surname]{
    padding: 10px;
    border: 0;
    border-bottom: 1px solid #eee; 
    border-radius: 20px; 
    transition: .3s border-color; 
    width: 75%;
}
#registerWrapper {
    
    background-image:url('../images/volunteergreen.png');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;

}

#registerDiv{
    display:flex; 
    flex-direction: column;
    
}
#register-title{
    margin-top:10px; 
    padding-left: 45px;
    color: white;
    margin-bottom: 15px;
}

.register-container{
    display:flex;
    justify-content:flex-end; 

}

.register-form{
    display: flex; 
    flex-direction: column; 
    margin-left: auto;   
    margin-right: 150px;
    height: 565px; 
    width: 305px; 
    border-radius: 20px;
    background-color: rgba(77, 188, 231, 0.8);
    padding: 20px 20px; 
    
}
#submit-button-register{
    padding: 10px;
    margin-top: 10px;
    border: none; 
    /* width: 100%;  */
    border-radius: 20px; 
    /* width: 75%; */
}
#submit-button-register:hover{
    background: #3be2ab;
    color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 5px #3be2ab,
                0 0 25px #3be2ab,
                0 0 50px #3be2ab,
                0 0 100px #3be2ab;
}