#registerWrapper {
    
    background-image:url('../images/volunteergreen.png');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;

}

#registerDiv{
    display:flex; 
    flex-direction: column;
    
}
#register-title{
    margin-top:0px; 
}

.register-container{
    display:flex;
    justify-content:flex-end; 

}

.register-form{
    display: flex; 
    flex-direction: column; 
    margin-left: auto;   
    margin-right: 150px;
    height: 575px; 
    width: 305px; 
    border-radius: 20px;
    background-color: rgba(77, 188, 231, 0.8);
    padding: 20px 20px; 
    
}
#submit-button-login{
    padding: 10px;
    border: none; 
    /* width: 100%;  */
    border-radius: 20px; 
    /* width: 75%; */
}
#submit-button-login:hover{
    background: #3be2ab;
    color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 5px #3be2ab,
                0 0 25px #3be2ab,
                0 0 50px #3be2ab,
                0 0 100px #3be2ab;
}